.panda-commerce-bg {
    background-color: #fceae8;
}

.panda-banner-price-color {
    color: #ff4c93;
}

.panda-button {
    color: white;
    font-weight: 500;
    background-color: #ff4c93;
    padding: 10px 20px;
}